{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block auth_block %}

{% endblock auth_block %}


{% block body %}
<div id="users-container" class="container">
    <div id="filter-container">
        <form method="GET">
            {{ filter.form|crispy }}
            <button type="submit" class="btn btn-primary">Найти</button>
        </form>
    </div>
    <div class="divider div-transparent"></div>
    <div id="users-list">
        <div id="users-row" class="row">
            {% for profile in filter.qs %}
            <div class="col-sm-3 mt-3">
                <div class="card" style="width: 14rem;">
                    <img id="users-list-img" src="{{ profile.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ profile.user.username}}</h5>
                        <p class="card-text">Город: {{ profile.city }}</p>
                        <p class="card-text">Биография: {{ profile.bio|truncatewords:3 }}</p>
                        <a href="{{ profile.get_absolute_url }}" class="btn btn-primary">Check profile</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock body %}
